*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  background: #000;
}
section{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
} section p{
  color: #fff;
  font-size: 1.8em;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  position: relative;
  color: #2e2e2e;
  font-size: 7em;
  line-height: 1em;
  transition: .9s all ease-in-out;
}
h2::before{
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0%;
  transition: .9s all ease-in-out;
  overflow: hidden;
}
h2.active::before{
  width: 100%;
}
.current h2::before{
  color: #0765b5;
  border-right: 2px solid red;
}
